atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes

git/gitconfig.symlink

vim.symlink/undo/*
vim.symlink/swap/*
vim.symlink/backup/*
vim.symlink/views/*
