"*":
  editor:
    showIndentGuide: true
    fontFamily: "Menlo"
    invisibles: {}
    fontSize: 12
    softWrapAtPreferredLineLength: true
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "vim-mode": {}
  emmet: {}
  "merge-conflicts": {}
  "vim-surround": {}
  pigments: {}
  "atom-beautify":
    _analyticsUserId: "c5c396bf-b995-4758-90e7-b7284534fda0"
  "tree-view": {}
